/* Lane Selection */

.laneSection {
    display: flex;
    flex-wrap: wrap;
}
.laneSection h3 {
    margin: 8px;
}

.laneSelect {
    width: 150px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background: var(--bg-primary);
    font-family: var(--font-primary);
    color: var(--text-primary);
}

/* Draft Panels */

.draftPanel {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.draftPanel h3 {
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slotContainer {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 310px;
}

/* Slot */

.slot {
    width: 54px;
    height: 54px;
    border: 2px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
